@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --mindaro: #d9ed92ff;
  --light-green: #b5e48cff;
  --light-green-2: #99d98cff;
  --emerald: #76c893ff;
  --keppel: #52b69aff;
  --verdigris: #34a0a4ff;
  --bondi-blue: #168aadff;
  --cerulean: #1a759fff;
  --lapis-lazuli: #1e6091ff;
  --indigo-dye: #184e77ff;
} */
html,body {
  font-family: "Nunito", sans-serif;
  color: white;
  background: linear-gradient(to top right, #1e3a8a, #1140c0, #061236);
  min-height: 100vh;
  background-repeat: no-repeat;
  z-index: -1;
}

/*background: linear-gradient(30deg, #1e3a8a, #0b1d51);*/
/* Accent Colors: Bright Orange (#FF6600), White (#FFFFFF) */
